################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

*.[Cc]ache